.catalog {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;

  @include width--488 {
    grid-template-columns: repeat(1, auto);
  }

  @include width--468-768 {
    grid-template-columns: repeat(2, auto);
  }

  @include width--768 {
    grid-template-columns: repeat(3, auto);
  }

  @include width--1024 {
    grid-template-columns: repeat(4, auto);
  }

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
