.catalog {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;

  @include onMobile {
    grid-template-columns: repeat(2, $cardWidth);
  }

  @include onTablet {
    grid-template-columns: repeat(3, $cardWidth);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, $cardWidth);
  }

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $cardWidth;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
